<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrinkto-fit=no">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />
    <style>
        .board-title{
            color: #476ba6;
        }
    </style>
    <title th:text="${title}">Board</title>
</head>
<body>

</body>
</html>