<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-secondary-subtle mb-4" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">LDW board</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/open_board/1}">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/readings/1}">읽을거리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/qna/1}">QnA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/game/1}">게임</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <th:block th:if="${userId} == null">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/add}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/login}">로그인</a>
                    </li>
                </th:block>
                <th:block th:if="${userId} != null">
                    <li class="nav-item">
                        <span class="nav-link" th:text="|회원: ${userId}|">회원가입</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</nav>
</html>