<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(#{${boardId}})}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container-md">
    <div th:replace="~{fragments/boardTitle :: boardTitle(${boardId})}"></div>
    <div>
        <a href="#" id="search-toggle" data-bs-toggle="modal" data-bs-target="#searchModal" style="font-size: 20px;color: var(--bs-body-color);">
            <i class="fas fa-search ">&nbsp</i>
        </a>

    </div>
    <div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>제목</th>
                <th style="width: 120px">글쓴이</th>
                <th style="width: 50px">추천</th>
                <th style="width: 50px">댓글</th>
                <th style="width: 50px">조회</th>
                <th style="width: 150px">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td class="text-start"><a th:href="@{/post/{param1}(param1=${post.getId()})}" th:text="${post.title}" ></a></td>
                <td><span th:text="${post.writerId}" ></span></td>
                <td><span th:text="${post.likes}"></span></td>
                <td><span th:text="${post.commentCnt}"></span></td>
                <td><span th:text="${post.viewCnt}"></span></td>
                <td><span th:text="${#temporals.format(post.createTime, 'yyyy/MM/dd HH:mm')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <button class="btn btn-primary" th:onclick="|location.href='@{/post/addnew/{param1}(param1=${boardId})}'|">글쓰기</button>
    </div>
    <div class="row">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a th:if="${postSearchKey} == null" class="page-link"
                       th:href="@{ /board/{param1}(param1=${boardId}, pageNum=${pageNumber} ) }"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber == posts.number + 1} ? active ">
                    </a>
                    <a th:unless="${postSearchKey} == null" class="page-link"
                       th:href="@{ /board/{param1}(param1=${boardId}, pageNum=${pageNumber}, postSearchKey=${postSearchKey}, postSearchVal=${postSearchVal} ) }"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber == posts.number + 1} ? active ">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="searchModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">검색</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action method="get">
                <div class="modal-body">
                    <div class="form-group mt-3">
                        <select class="form-control" id="postSearchKey" name="postSearchKey">
                            <option th:value="TITLEBODY">제목+내용</option>
                            <option th:value="TITLE">제목</option>
                            <option th:value="BODY">내용</option>
                            <option th:value="WRITER">글쓴이</option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <input type="text" class="form-control" id="postSearchVal" name="postSearchVal" required>
                    </div>

                </div>
                <div class="modal-footer mt-2">
                    <div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>