<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('글 수정')}">
</head>
<body>
<style>
    .pagination-custom{
        width: 40px;
    }
</style>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="container-md">
        <div th:replace="~{fragments/boardTitle :: boardTitle(${boardId})}"></div>
        <form th:action method="post" th:object="${postingForm}">
            <div class="form-group my-2">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" th:errorclass="border-danger">
                <div class="text-danger" th:errors="*{title}"></div>
            </div>
            <div class="form-group my-2">
                <div id="editor"></div>
            </div>
            <button class="btn btn-primary my-4" onclick="submitForm(this)">등록</button>

        </form>


    </div>

</div>


<script src="/js/bootstrap.bundle.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">

    const body = [[${postingForm.body}]]
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '800px',
        initialEditType: 'wysiwyg',
        initialValue: body
    });

    function submitForm(element){
        form = element.parentNode;
        const data1 = document.createElement("input");
        data1.setAttribute("type", "hidden");
        data1.setAttribute("name", "body");
        data1.setAttribute("value", editor.getMarkdown());
        form.appendChild(data1);
        form.submit();
    }

</script>
</body>
</html>