<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('새글 등록')}">
</head>
<body>
<style>
    .pagination-custom{
        width: 40px;
    }
</style>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="container-md">
        <div th:replace="~{fragments/boardTitle :: boardTitle(${boardId})}"></div>
        <form th:action method="post" th:object="${postingForm}">
            <div class="form-group my-2">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" th:errorclass="border-danger">
                <div class="border-danger" th:errors="*{title}"></div>
            </div>
            <div class="form-group my-2">
                <label th:for="body">내용</label>
                <div id="editor"></div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary my-4" onclick="submitForm(this)">등록</button>
            </div>

        </form>


    </div>

</div>


<script src="/js/bootstrap.bundle.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '800px',
        initialEditType: 'wysiwyg',
        hooks: {
            async addImageBlobHook(blob, callback){
                const formData = new FormData();
                formData.append("image", blob);

                const response = await fetch("/image/upload", {
                    method : "POST",
                    body : formData,
                });
                if(response.ok){
                    const filename = await response.text();
                    console.log("서버에 저장된 파일명: ", filename);
                    imageUrl = `/image/attach?filename=${filename}`;
                    callback(imageUrl, "image alt attribute");
                }else{
                    alert(await response.text());
                }
            }
        }
    });

    function submitForm(element){
        form = element.parentNode;
        const data1 = document.createElement("input");
        data1.setAttribute("type", "hidden");
        data1.setAttribute("name", "body");
        data1.setAttribute("value", editor.getMarkdown());
        form.appendChild(data1);
        form.submit();
    }
</script>
</body>
</html>