<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${targetPost.getTitle()})}">
</head>
<body>
<style>
    .pagination-custom{
        width: 40px;
    }
    a{
        text-decoration: none;
        color: dimgray;
    }
</style>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="container-md">
        <div th:replace="~{fragments/boardTitle :: boardTitle(${targetPost.board.getId()})}"></div>
        <div class="row">
            <h3 th:text="${targetPost.title}"></h3>
        </div>
        <div class="row my-3">
            <span th:text="|글쓴이: ${targetPost.getWriter.id} &nbsp&nbsp&nbsp 글쓴시각: ${#temporals.format(targetPost.createTime, 'yyyy/MM/dd HH:mm')}|"></span>
        </div>
        <div class="text-end" th:if="${isWriter}">
            <a th:href="@{/post/{param1}/edit(param1=${targetPost.getId()}) }">수정</a>
            &nbsp;&nbsp;
            <a th:href="@{/post/{param1}/delete(param1=${targetPost.getId()}) }">삭제</a>
        </div>
        <hr class="my-3">
        <div class="row" style="min-height : 400px">
            <span th:text="${targetPost.body}"></span>
        </div>
        <hr class="my-3">
        <div class="row">
            <div class="container m-2" th:each="comment, iterStat : ${targetPost.getComment()}" th:id="'comment-' + ${iterStat.index}">
                <div class="row bg-secondary-subtle rounded my-1 p-1">
                    <div class="col-auto">
                        <p class="mb-0" th:text="|작성자: ${comment.getWriter.getId()}|"></p>
                    </div>
                    <div class="col text-end">
                        <p class="mb-0" th:text="${#temporals.format(comment.getCreateTime(), 'yyyy/MM/dd HH:mm')}"></p>
                    </div>
                </div>
                <div class="column">
                    <p th:text="${comment.body}"></p>
                </div>
                <div class="text-end" th:if="${session.loginUser} and ${comment.getWriter().id} == ${session.loginUser.id}" >
<!--                    <a th:href="@{/post/editComment(param1=${comment.getId()})}">수정</a>-->
<!--                    &nbsp;&nbsp;-->
                    <a th:href="@{/post/deleteComment(commentId=${comment.getId()})}">삭제</a>
                </div>
            </div>
        </div>
        <div class="row">
            <form th:action="@{/post/{param1}/addComment(param1=${targetPost.getId()})}"
                  th:object="${commentForm}" method="post">
                <div class="form-group my-3">
                    <textarea class="form-control" th:field="*{commentBody}" rows="3" th:errorclass="border-danger"></textarea>
                    <div class="border-danger" th:errors="*{commentBody}"></div>
                </div>
                <button type="submit" class="btn btn-primary my-4">댓글 등록</button>
            </form>
        </div>

    </div>

</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>